:root {
  --color-white: hsl(0deg 0% 100%);

  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: var(--color-white);
  background-color: hsl(200deg 40% 12%);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100%;
}

h1 {
  font-size: 2.375rem;
  line-height: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  height: 2.5rem;
  padding: 0 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .75rem;
  border: none;
  vertical-align: top;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0;
  background-color: hsl(200deg 48% 56%);
  color: hsl(200deg 48% 12%);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: hsl(200deg 48% 60%);
}

button:active {
  background-color: hsl(200deg 48% 52%);
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  height: 2.5rem;
  padding: 0 1.25rem;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  box-sizing: border-box;
  background-color: hsl(200deg 48% 8%);
  border-radius: .75rem;
  border: none;
  font-size: 1rem;
  color: hsl(200deg 48% 80%);
}

input::placeholder {
  color: hsl(200deg 48% 24%);
}

input:focus {
  border: 2px solid hsl(200deg 48% 80%);
  outline: none;
}

#app {
  height: 100%;
}
